services:
  rttm-all-in-one:
    build:
      context: .
      dockerfile: Dockerfile.websocket
    container_name: rttm-all-in-one
    environment:
      - KAFKA_BOOTSTRAP=localhost:9092
      - SCHEMA_REGISTRY_URL=http://localhost:8081
      # - REDIS_HOST=localhost
      # - REDIS_PORT=6379
      - DB_URL=jdbc:postgresql://db-instance-pms.cvk4yqey0ex7.us-east-2.rds.amazonaws.com:5432/pms_db
      - DB_USERNAME=postgres
      - DB_PASSWORD=PMS.2025
      - DB_REGION=us-east-2
      - DB_PORT=5432
      - DB_HOST=db-instance-pms.cvk4yqey0ex7.us-east-2.rds.amazonaws.com
    ports:
      - "8085:8080"
      - "9092:9092"
    # - "6379:6379"
    volumes:
      - ./data:/data