spring:
  application:
    name: pms-rttm

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  docker:
    compose:
      enabled: false
      
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true    
        dialect: org.hibernate.dialect.PostgreSQLDialect
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP:localhost:9092}
    consumer:
      group-id: pms-rttm-group
      auto-offset-reset: earliest
      enable-auto-commit: false
      max-poll-records: 100

schema:
  registry:
    url: ${SCHEMA_REGISTRY_URL:http://localhost:8081}

server:
  port: 8080  


logging:
  level:
    com.pms.rttm: DEBUG